%h2 Sign up
.form__container
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-item
      = f.label :email, class: "form-label"
      = f.email_field :email, autofocus: true, class: "form-control"
    .form-item
      = f.label :password, class: "form-label"
      = f.password_field :password, autocomplete: "off", class: "form-control"
    .form-item
      = f.label :password_confirmation, class: "form-label"
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    .form-item
      = f.submit "登録", class: "button-default"
= render "devise/shared/links"
