= provide(:title, "ユーザー検索")
= javascript_include_tag "search_user"

%main.mypage-main__container
  .two-columns
    .user-profile__container
      = link_to('ログアウト', destroy_user_session_path, :method => :delete, class: "user-profile__logout")
      .user-profile__thumbnail
      %p.user-profile__name
        = @user.name
    .user-content
      %nav.user-content-nav
        %ul.user-content-nav__items
          %li.user-content-nav__item
            = link_to '/user', class: 'user-content-nav__link' do
              %i.fa.fa-bell.user-content-nav__icon
              %p.user-content-nav__text 通知一覧
          %li.user-content-nav__item
            = link_to '/following', class: 'user-content-nav__link' do
              %i.fa.fa-user.user-content-nav__icon
              %p.user-content-nav__text 友達一覧
          %li.user-content-nav__item.selected
            = link_to '/users/search', class: 'user-content-nav__link' do
              %i.fa.fa-user-plus.user-content-nav__icon
              %p.user-content-nav__text 友達追加
      .user-content__container
        %ul.user-content__list-items
          %li.user-content__list-item
            .user-content__inner
              .user-content__main.search
                = form_tag('/users/search/', method: "post", class: 'search-form') do
                  .form-item
                    = text_field_tag :email, '', id: 'search_user_email', class: 'form-control', placeholder: 'メールアドレスで友達を検索できます'
                .user-content__search-button-container
                  = button_tag sanitize('<i class="fa fa-search"></i>'), name: nil, id: 'search_user', class: 'button-search'
          #search_result
