= provide(:title, "友達一覧")

%main.mypage-main__container
  .two-columns
    .user-profile__container
      = link_to('ログアウト', destroy_user_session_path, :method => :delete, class: "user-profile__logout")
      .user-profile__thumbnail
      %p.user-profile__name
        = @user.name
    .user-content
      %nav.user-content-nav
        %ul.user-content-nav__items
          %li.user-content-nav__item
            = link_to '/user', class: 'user-content-nav__link' do
              %i.fa.fa-bell.user-content-nav__icon
              %p.user-content-nav__text 通知一覧
          %li.user-content-nav__item.selected
            = link_to '/following', class: 'user-content-nav__link' do
              %i.fa.fa-user.user-content-nav__icon
              %p.user-content-nav__text 友達一覧
          %li.user-content-nav__item
            = link_to '/users/search', class: 'user-content-nav__link' do
              %i.fa.fa-user-plus.user-content-nav__icon
              %p.user-content-nav__text 友達追加
      .user-content__container
        %ul.user-content__list-items
          - for user in @following
            %li.user-content__list-item
              .user-content__inner
                .user-content__main
                  .user-content__thumbnail-container
                    .user-content__thumbnail
                  .user-content__name-container
                    %p.user-content__name
                      = user.name
