= provide(:title, "マイページ")
= javascript_include_tag "menu"

%main.mypage-main__container
  .two-columns
    .user-profile__container
      = link_to('ログアウト', destroy_user_session_path, :method => :delete, class: "user-profile__logout")
      .user-profile__thumbnail
      %p.user-profile__name
        = @user.name
    .user-content
      %nav.user-content-nav
        %ul.user-content-nav__items
          %li.user-content-nav__item.selected
            = link_to '/user', class: 'user-content-nav__link' do
              %i.fa.fa-bell.user-content-nav__icon
              %p.user-content-nav__text 通知一覧
          %li.user-content-nav__item
            = link_to '/following', class: 'user-content-nav__link' do
              %i.fa.fa-user.user-content-nav__icon
              %p.user-content-nav__text 友達一覧
          %li.user-content-nav__item
            = link_to '/users/search', class: 'user-content-nav__link' do
              %i.fa.fa-user-plus.user-content-nav__icon
              %p.user-content-nav__text 友達追加
      .user-content__container
        %ul.user-content__list-items
          - for entry in @entries
            %li.user-content__list-item
              .user-content__inner
                .user-content__main
                  .user-content__thumbnail-container
                    .user-content__thumbnail
                    %p.user-content__time 30分前
                  %p.user-content__text
                    = entry.from_user.name
                    からCheers!が届きました。
                    %br
                    この人と飲みに行く場合はCheers!Backを送ろう！
                .user-content__button-container
                  %button.button.font-en.js-modal-open{'data-target': 'cheers-back2', 'data-entry-id': entry.id, 'data-user-id': @user.id, 'data-post-id': entry.post_id}
                    Cheers!Back
                  .modal-content
                    %p.done-text-lg
                      usernameさんに
                      %span.font-en Cheers!Back
                      を送りました。
                    %p.done-text
                      usernameさんにLINEでメッセージを送って飲みに行こう！
                    .modal-link__container
                      =link_to 'LINEで送る', '#', class: 'text-link primary'
