%h2 Log in
.form__container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-item
      = f.label :email, class: "form-label"
      = f.email_field :email, autofocus: true, class: "form-control"
    .form-item
      = f.label :password, class: "form-label"
      = f.password_field :password, autocomplete: "off", class: "form-control"
    - if devise_mapping.rememberable?
      .form-item
        = f.check_box :remember_me
        = f.label :remember_me
    .form-item
      = f.submit "ログイン", class: "button-default"
= render "devise/shared/links"
