!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    %title
      = full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'foam'
  %body
    .home-top__content
      %header.header
        .container.columns
          .header-logo
            %p Cheers!
          .header__inner
            %ul.header__user-action-items.front
              %li.header__user-action-item
                = link_to 'ログイン', new_user_session_path
      .home-top__container
        .columns.container
          .home-top-title__container
            %h1.home-top-title
              「誰か
              %span<> と
              飲み
              %span<> に
              行こう」
            %p.home-top-lead
              一人で飲むより誰かと飲むお酒が一番美味しい！
              %br
              Cheers!を利用することで気兼ねなく友達と飲みに行くことができます。
              %br
              今日も誰かと飲みに行こう！
              %span.small ※Cheers!は出会い系、マッチングサービスではありません。
          .home-top__form-pc
            .form__container
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!
                .form-item
                  = f.text_field :name, class: "form-control", placeholder: "名前"
                .form-item
                  = f.email_field :email, class: "form-control", placeholder: "メールアドレス"
                .form-item
                  = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード"
                .form-item
                  = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード確認"
                .form-item
                  = f.submit "登録", class: "button"
          .home-top__form-sp
            = link_to '新規登録', new_registration_path(resource_name), class: "button"

    .home-main__container
      %section.home-main__content.bg1
        %h2
          今日飲みに行きたいことを
          %br
          友達にアピール！
        %p
          「今日飲みに行きたいけど自分から誘うまでもないしなあ...」
          %br
          Cheers!は今日飲みに行きたいということを簡単に友達にアピールすることができます。
          %br
          友達の飲みたい気分も一目で分かるので飲みに誘いやすくなります！
      %section.home-main__content
        %h2
          飲みに行くまでの
          %br
          やりとりがスムーズ！
        %p
          飲みに行くには「Cheers!」ボタン1クリックで完了します。
      %section.home-main__content.bg1
        %h2
          今すぐCheers!を使って
          %br
          飲みに行こう！
        .button__container
          = link_to '無料新規登録', new_registration_path(resource_name), class: "button"

    %footer.footer
      .footer-inner
        %h2.footer-logo Cheers!
        %p.footer_copyright © 2018 Cheers!
